<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="todo-list-title">Todos</mat-card-title>
      <mat-card-content fxLayout="column">

        <div fxLayout="row wrap" fxLayoutGap="10px">

          <mat-form-field class="input-field">
            <mat-label>Body</mat-label>
            <input matInput id="todo-body-input" placeholder="Filter by body" [(ngModel)]="body"
              (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input matInput id="todo-category-input" placeholder="Filter by category" [(ngModel)]="category"
              (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px">


          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput id="todo-owner-input" placeholder="Filter by owner" [(ngModel)]="owner"
              (input)="getTodosFromServer()">
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>status</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="status" data-test="todoStatusSelect">
              <mat-option>--</mat-option>
              <mat-option value="Complete">Complete</mat-option>
              <mat-option value="Incomplete">Incomplete</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredTodos">

    <mat-card-content>
      <mat-nav-list class="todo-nav-list">
        <h3 mat-subheader>Todos</h3>
        <a mat-list-item *ngFor="let todo of this.filteredTodos" [routerLink]="['/todos', todo._id]"
          class="todo-list-item">
          <mat-icon> grid_on</mat-icon>
          <h3 matLine class="todo-list-owner"> {{todo.owner}} </h3>
          <p matLine class="todo-list-category"> {{todo.category}} </p>
          <p matLine class="todo-list-status"> {{todo.status}} </p>
          <p matLine class="todo-list-body"> {{todo.body}} </p>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </div>
</div>
